
<style>
.field{
  float:left;
}
</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <a class="navbar-brand" href="#">Smart Food </a>      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex"> 
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn-outline-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <b> {{ userName }} <i class="fa fa-user" aria-hidden="true"></i>  </b>   
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" data-toggle="modal" data-target="#login-modal">Physical Detail</a>
                          <a class="dropdown-item" href="#"> Track</a>
                          <a class="dropdown-item" data-toggle="modal" data-target="#pref-modal"> Preference </a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" (click)="redirectToHome()">LogOut</a>
                        </div>
                    </li>
           
          </ul>
        </div>
  </nav>

  <div class="modal" id="login-modal" role="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header"> 
         <h2> Physical Detail </h2>
        </div>  
        <div class="modal-body">
          <!-- <fieldset id="log-in">  -->
        
            <form [formGroup]="physicalDetailForm" (ngSubmit)="setPhysicalDetail()" class="frm" method="post" >
              <div class="form-group">
                <label for="height">Height </label>
                <input type="number" class="form-control"   formControlName="height" placeholder="In CMs" value="">
              </div>
              <div class="form-group">
                <label for="weight">Weight</label>
                <input type="number" class="form-control" formControlName="weight" placeholder="In Kgs" value="">
              </div>
<!--             
                <mat-form-field class = "tp-full-width">
                   <input type = "text" 
                      placeholder = "Cuisines" 
                        matInput 
                      [formControl] = "myControl" 
                      [matAutocomplete] = "auto">
                   <mat-autocomplete #auto = "matAutocomplete">
                      <mat-option *ngFor = "let state of states" [value] = "state.value">
                         {{state}}
                      </mat-option>
                   </mat-autocomplete>
                </mat-form-field> -->
             
              <div class="form-group col-md-4">
                <label for="gender">Gender</label>
                <select formControlName="gender" id="gender" class="form-control">
                  <option selected value="0" >Male</option>
                  <option value="1">Female</option>
                </select>
              </div>
              <div class="form-group">
                <label for="">Date of Birth</label>
                <input type="date" class="form-control" formControlName="dob"  >
              </div>
              <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-md"  >Set Physical Detail <i class="fas fa-running"></i> </button>
              </div>
          </form>
      
          </div>
          </div>
          </div>
     <a href="index.html"> New User? Register Now</a>  
    </div>  





    <!---  work from here -->

         <fieldset class="field">
        <div class="card">
          <div class="card-header">
            UsrePreference Model
          </div>
        
        <div class="card-body">
            <form [formGroup]="preferenceModel" (ngSubmit)="setPreferenceDetail()" class="frm" method="post" >
              <div class="form-group">
                <mat-form-field>
                <input type="number" matInput  placeholder="Target Weight"   formControlName="targetW" >
                </mat-form-field>
              </div>

              <div class="form-group">
                  <mat-form-field>
                      <input matInput [matDatepicker]="picker" formControlName="targetD" placeholder="Choose a date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
            
              </div>
              <div class="form-group">
               <mat-select-autocomplete
                          [placeholder]="'Select Options'"
                          [options]="options"
                          [multiple]='true'
                          name="optionsSelector"
                          ngDefaultControl
                          [formControl]="preferenceModel.controls['selected']">
              </mat-select-autocomplete> 
<!-- 
     <mat-form-field class="example-full-width">
      <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="preferenceModel" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of oops | async" [value]="oops">
          {{oops}}

        </mat-option>
      </mat-autocomplete>
    </mat-form-field>  -->
     <!-- <mat-select-autocomplete class="grid-7-11"
     [placeholder]="'Options Selection'"
     [errorMsg]="errorMessage"
     [showErrorMsg]="showError"
     [options]="options"
     [display]="'display'"
     [value]="'value'"
     [multiple]='true'
     [labelCount]="2"
     [selectedOptions]="selectedOptions"
     (selectionChange)="getSelectedOptions($event)">
   </mat-select-autocomplete>
   -->
</div>
             <div class="form-group col-md-4">
                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <select matNativeControl required>
                      <option value="Veg">Veg</option>
                      <option value="NonVeg">Non Veg</option>
                   </select>
                  </mat-form-field>   
            
            </div>
            
              <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-md"  >Set Preference Detail <i class="fas fa-running"></i> </button>
              </div>
          </form>
      
          </div>
          </div>
          <!-- </div>
    
    </div>   -->
  </fieldset>
