
<style>
.field{
  float:left;
}

.fa {
    padding: 5px;
    font-size: 20px;
    width: 0px;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
}

#showProduct {
          background: url('https://cdn.dribbble.com/users/1180825/screenshots/2965077/daily-ui-058.gif') no-repeat top left;
          background-position: inherit;
          background-size: cover;
          border: none;
          padding: 2px 3px;
          length: 300px;
          width: 90px;
      }


#img 
{
  height: 30px;
  width: 30px;
}
/* .md-datepicker-calendar-pane {
        z-index: 1200;
    } */
 ::ng-deep .cdk-overlay-container{
    z-index: 1200 !important;
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img id="img" src="https://raw.githubusercontent.com/sanga03/Spartans-FSD-IBM-SmartFood/master/favicon.ico"> 
  &nbsp;
      <a class="navbar-brand" href="#"> Nutritium </a> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex"> 
               
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn-outline-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <b> {{ userName }} <i class="fa fa-user" aria-hidden="true"></i>  </b>   
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown"> 
                           
                          <button class="dropdown-item" data-toggle="modal" data-target="#login-modal">Physical Detail</button>
                          <button class="dropdown-item" data-toggle="modal" data-target="#track-modal">Keep Track</button>
                    
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" (click)="redirectToHome()">LogOut</a>
                        </div>
                    </li>
           
          </ul>
          <div id="showCart">
              <input type="button" id="showProduct" (click)="directToCart()" class="btn btn-primary btn-lg" value=" " style="color: black" >
         </div>
        </div>
  </nav>

  <div class="modal" id="login-modal" role="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header"> 
         <h2> Physical Detail </h2>
         <button  class="close btn-sm btn-danger" data-dismiss="modal" aria-label="Close">X</button>
        </div>  
        
        <div class="modal-body">
          <!-- <fieldset id="log-in">  -->
            <form [formGroup]="physicalDetailForm" (ngSubmit)="setPhysicalDetail()" class="frm" method="post" >
              <div class="form-group"> 
                  <p>
                      <mat-form-field appearance="legacy">
                        <mat-label>Enter Your Height</mat-label>
                        <input matInput formControlName="height" placeholder="Height">
                        
                        <mat-icon matSuffix>height</mat-icon>
                        <mat-hint>In Centimeters</mat-hint>
                      </mat-form-field>
                  </p>
                <!-- <label for="height">Height </label>
                <input type="number" class="form-control"   formControlName="height" placeholder="In CMs" value=""> -->
              </div>
              <div class="form-group"> 
                  <p>
                      <mat-form-field appearance="legacy">
                        <mat-label>Enter Your Weight</mat-label>
                        <input matInput formControlName="weight" placeholder="Weight">
                        <mat-icon matSuffix>Weight</mat-icon>
                        <mat-hint>In KGs</mat-hint>
                      </mat-form-field>
                  </p>
                <!-- <label for="weight">Weight</label>
                <input type="number" class="form-control" formControlName="weight" placeholder="In Kgs" value=""> -->
              </div>
               <div class="form-group">
                  <label for="gender">Gender</label>
                  <select formControlName="gender" id="gender" class="form-control col-md-4">
                    <option selected value="0" >Male</option>
                    <option value="1">Female</option>
                  </select>
               </div>
              <div class="form-group"> 
                  <mat-form-field> 
                      <mat-label>Date of Birth</mat-label>
                      <input matInput [matDatepicker]="dob"  formControlName="dob"    placeholder="Date of Birth">
                      <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                      <mat-datepicker #dob></mat-datepicker>
                  </mat-form-field>
              
                  
                <!-- <label for="">Date of Birth</label>
                <input type="date" class="form-control"  formControlName="dob"   > -->
              </div> 
              <div class="form-group">
                  <label for="caloriesBurn">Activity Level</label>
                  <select formControlName="caloriesBurn" id="caloriesBurn" class="form-control col-md-6">
                    <option  *ngFor="let activity of activityLevel" [value]="activity.value" > {{activity.viewValue}}</option>
                  </select>
               </div>
              <!-- <mat-form-field>
                  <mat-label>Activity Level</mat-label>
                  <mat-select formControlName="caloriesBurn" >
                    <mat-option *ngFor="let activity of activityLevel" [value]="activity.value">
                      {{activity.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field> -->
              <div class="modal-footer">
              <button type="submit"  class="btn btn-primary btn-md"  >Set Physical Detail <i class="fa fa-child" aria-hidden="true"></i> </button>
              </div>
          </form>
      
          </div>
          </div>
          </div>
     <a href="index.html"> New User? Register Now</a>  
    </div>  

    <!-- Customer track form -->
    <div class="modal" id="track-modal" role="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content"> 
              <div class="modal-header"> 
                  <blockquote class="blockquote">
                      <p class="mb-0">With Nutritium, Keep track of your meal </p>
                    </blockquote> 
                  <button  class="close btn-sm btn-danger" data-dismiss="modal" aria-label="Close">X</button>
              </div>  
              <mat-vertical-stepper [linear]="isLinear" #stepper>
                  <mat-step [stepControl]="mealTimeFormGroup">
                    <form [formGroup]="mealTimeFormGroup">
                      <ng-template matStepLabel>Track your meal</ng-template>
                      <!-- <mat-form-field> -->
                        <!-- <input matInput placeholder="Last name, First name" formControlName="mealTime" required>  -->
                            <!-- <mat-label>Meal Time</mat-label> -->
                                <div class="form-group col-md-6">
                                    <label for="inputMeal">Meal Time</label>
                                    <select [formControl]="mealTime" id="inputMeal" class="form-control">
                                      <option value="0" selected>Break Fast <i class="fa fa-coffee" aria-hidden="true"></i> </option>
                                      <option value="1">Lunch</option>
                                      <option value="2">Dinner</option>
                                    </select>
                                </div>
                            
                            <!-- <mat-error *ngIf="mealTime.hasError('required')">Please Choose Meal Time</mat-error>                  -->
                      <!-- </mat-form-field> -->
                      <div>
                        <button class="btn btn-outline-primary" mat-button matStepperNext>Next</button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step [stepControl]="caloriesFormGroup">
                    <form [formGroup]="caloriesFormGroup">
                      <ng-template matStepLabel>How Was It? </ng-template>
                      <div class="form-group col-md-6"> 
                          <label for="inputCalorie">Was it?</label>
                          <select [formControl]="calories" id="inputCalories" class="form-control">
                            <option value="0" selected>Light</option>
                            <option value="1">Medium</option>
                            <option value="2">Heavy</option>
                          </select>
                      </div>
                      <div>
                        <button class="btn btn-outline-secondary"  mat-button matStepperPrevious>Back</button>
                        <button class="btn btn-outline-primary"  mat-button matStepperNext>Next</button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step [stepControl]="dateFormGroup">
                      <form [formGroup]="dateFormGroup">
                        <ng-template matStepLabel>When Was It? </ng-template>
                        <div class="form-group col-md-6">
                            <label for="inputDate">It Was On</label> 
                            <mat-form-field> 
                                <mat-label>Tracking Date</mat-label>
                                <input matInput [matDatepicker]="date" id="inputDate" formControlName="date"    placeholder="Tracking Date">
                                <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                                <mat-datepicker #date></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div>
                          <button  class="btn btn-outline-secondary" mat-button matStepperPrevious>Back</button>
                          <button class="btn btn-outline-primary"  mat-button matStepperNext>Next</button>
                        </div>
                      </form>
                  </mat-step>
                  <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                       You are now done.
                    <div>
                      <button class="btn btn-outline-secondary" mat-button matStepperPrevious>Back</button>
                      <button class="btn btn-outline-success" mat-button (click)="saveCustomerTrack()">Save</button>
                    </div>
                  </mat-step>
                </mat-vertical-stepper>
          </div>
        </div>
    </div>  
    





    <!---  work from here -->
