
<style>

.card{
	width: max-content;
}
.imgs{
	margin-left: 37%
}
img{
	height: 100px;
}

@font-face{
    font-family:'myFont';
    src: url("/assets/font/Tahu.ttf") format("truetype");
}

@font-face{
    font-family:'myFont1';
    src: url("/assets/font/Sweet.ttf") format("truetype");
}
body{
	font-family: 'myFont'
}
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
<hr>

<div class="row">
    

<article class="card">
<div class="card-body p-5">

<ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
		<i class="fa fa-credit-card"></i> Credit Card</a></li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
		<i class="fa fa-paypal"></i>  Paypal</a></li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="pill" href="#nav-tab-bank">
		<i class="fa fa-university"></i>  UPI Transfer</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane fade show active" id="nav-tab-card">
	
	<form role="form" [formGroup]="formBuilder" method="GET">
	<div class="form-group">
		<label for="username">Full name (on the card)</label>
		<input type="text" class="form-control" name="username" placeholder="" required>
	</div> <!-- form-group.// -->

	<div class="form-group">
		<label for="cardNumber">Card number</label>
		<div class="input-group">
					{{formGroup.cardNumber.errors}}
					{{formGroup.controls.cardNumber.errors}}
				
					
					<input type="tel"  class="form-control" required="true" formControlName="cardNumber" autocomplete="cc-number" id="cc-number" ccNum>
				  <!-- </div> -->
			<div class="input-group-append">
				<span class="input-group-text text-muted">
					<i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>   
					<i class="fab fa-cc-mastercard"></i> 
				</span>
			</div>
		</div>
	</div> <!-- form-group.// -->

	<div class="row">
	    <div class="col">
	        <div class="form-group">
	            <label><span class="hidden-xs">Expiration</span> </label>
	        	<div class="input-group">
						<input type="tel" type="tel" required="true" formControlName="cardExpDate" class="form-control" autocomplete="cc-exp" id="cc-exp" ccExp>
						
							</div>
	        </div>
	    </div>
		<div class="col">
				<div class="form-group">
					<label><span class="hidden-xs">CVV</span> </label>
					<div class="input-group">
							
							<input type="tel" type="tel" required="true" formControlName="cardCvv" class="form-control" autocomplete="cc-cvc" id="cc-csc" ccCvc>	        
					</div>
				</div>
			</div>
		   
	</div> <!-- row.// -->
	<button class="subscribe btn btn-primary btn-block" data-toggle="modal" data-target="#orderModal"(click)="proceedToPay()"type="button"> Confirm  </button>
	</form>
</div> <!-- tab-pane.// -->
<div class="tab-pane fade" id="nav-tab-paypal">
<p>Pay With Paypal</p>
<p>
<button type="button" class="btn btn-primary"(click)="paypalPay()"> <i class="fab fa-paypal"></i> Log in my Paypal </button>
</p>

</div>

<div class="tab-pane fade" id="nav-tab-bank">
<p>UPI Transfer</p>
<label for="username">upi :</label>
<mat-form-field class="example-full-width">
    <input matInput placeholder="account-name@upi-provider" >
  </mat-form-field> <!-- tab-pane.// -->
  <button mat-button class="btn primary-btn"  data-toggle="modal" data-target="#orderModal" (click)="proceedToPay()">Proceed to Pay</button>
</div>
</div> <!-- tab-content .// -->
</div> <!-- card-body.// -->
</article> <!-- card.// -->


	
</div> <!-- row.// -->

</div> 
<!--container end.//-->
<div class="modal fade" id="orderModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="orderModalLabel">Order Recived</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<div class="imgs">
		 <img src="https://i1.wp.com/bettingtips-1x2.com/wp-content/uploads/2018/03/checkmark.gif?fit=257%2C261">
		
		</div>
		</div>
		<div class="modal-footer">
		  <button type="button" data-dismiss="modal"class="btn btn-primary"(click)="goHome()">Order some more</button>
		  <button type="button" data-dismiss="modal"class="btn btn-primary"(click)="logout()">Logout</button>
		</div>
	  </div>
	</div>
  </div>