<style>
.fa {
    padding: 5px;
    font-size: 20px;
    width: 0px;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
}
</style>
<button id="openModal" #openModal [hidden]="true" 
data-toggle="modal" data-target="#login-modal"></button> 
<button id="closeModal" #closeModal [hidden]="true" 
data-dismiss="modal" aria-label="Close"></button> 
<div class="modal" id="login-modal" role="dialog" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header"> 
      <div *ngIf="status==1"> <div class="jumbotrons"><h4 style="color: red">Invalid Credendial</h4> </div></div>
      <div *ngIf="status==2"> <div class="jumbotrons"><h4 style="color: red">Not yet registered</h4></div></div>
       <h2 >Log In  
        </h2> <button  class="close btn-sm btn-info" (click)="closeAndRedirectToHome()" >X</button>
        </div>
        <div class="modal-body">
          <!-- <fieldset id="log-in">  -->
        
            <form [formGroup]="loginForm" (ngSubmit)="validate()" class="frm" method="post" >
              <div class="form-group">
                <label for="exampleInputEmail1">Email </label>
                <input type="email" class="form-control"   formControlName="email" placeholder="Enter Email" value="">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder=" Enter Password" value="">
              </div>
              <div class="modal-footer">

        
                <a (click)="changePass()" data-dismiss="model" data-toggle="model" href="#changePass" role="button" aria-expanded="false" aria-controls="collapseExample" >change password</a> 
                        <a  [routerLink]="['/register']" data-dismiss="modal" aria-label="Close"> New User? Register Now</a>
              <button type="submit" class="btn btn-primary btn-md"  >Let's Go <i class="fa fa-cutlery" style='color:#93E0E5'aria-hidden="true"></i></button>

              <!-- <button type="button" class="btn btn-info" id="reg-btn" onclick="callReg()" >Register</button> -->
              </div>
      
          </form>
        <!-- </fieldset> -->
          </div>
          </div>
          </div>
      
    </div>  

<div class="collapse" id="changePass">
    <div class="modal"  tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>