.input-name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: aliceblue;
    display: block;
    size: 40px;
    width: 12em;
    height: 2.5em;
    margin: 6px 4px 6px 10px;
    float: center;
   
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(237,237,237,0) 0%, rgba(237,237,237,0) 22%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(0%, rgba(246,246,246,0)), color-stop(0%, rgba(237,237,237,0)), color-stop(22%, rgba(237,237,237,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(237,237,237,0) 0%, rgba(237,237,237,0) 22%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(237,237,237,0) 0%, rgba(237,237,237,0) 22%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(237,237,237,0) 0%, rgba(237,237,237,0) 22%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(237,237,237,0) 0%, rgba(237,237,237,0) 22%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );


}

.fieldset{
    display: inline-block;
    float: right;
    margin: 40px 4px 30px 40px;
    padding:10px;
}