
<div class="container">
    <div class="card">
        <h3 class="title">On Track</h3>
        <div class="bar">
          <div class="emptybar"></div>
          <div class="filledbar"></div>
        
        </div>
     
        <div class="circle">
        <div class="med">
          yes
        </div>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <text>yes</text>
          
        </svg>
        </div>
       </div>
    
    <div class="card">
      <h3 class="title">Dates</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
          <div class="med">
             Start :30 sep 2019
              <br>
             End :25 Oct 2019
            </div>
        <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle class="stroke" cx="60" cy="60" r="50"/>
      </svg> -->
      </div>
    </div>
    <div class="card">
      <h3 class="title">Weight</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
          <div class="med">
              Start : 70 Kg
              <br>
              Target : 67 Kg
            </div>
        <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle class="stroke" cx="60" cy="60" r="50"/>
      </svg> -->
      </div>
    </div>
    <div class="card">
      <h3 class="title">Physical</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      
      <div class="circle">
          <div class="med">
              BMI: 21.8
              <br>
              BMR: 1713.7
            </div>
        <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle class="stroke" cx="60" cy="60" r="50"/>
      </svg> -->
      </div>
    </div>
  </div>