
<h2>Know  Yourself Better !!</h2>
<div class="container">
    <div class="card">
        <h3 class="title">On Track</h3>
        <div class="bar">
          <div class="emptybar"></div>
          <div class="filledbar"></div>

        
        </div>
     

        <div class="circle">
        <div class="med">
          yes
        </div>
          
        </div>
       </div>
       <div class="card">
        <h3 class="title">Calories Consumed</h3>
        <div class="bar">
          <div class="emptybar"></div>
          <div class="filledbar"></div>

        
        </div>
     

        <div class="circle">
        <div class="med">
         {{todayCaloriesCunsumed}} cals
        </div>
          
        </div>
       </div>
    <div class="card">
      <h3 class="title">Dates</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
          <div class="med">
             Start :{{startDate}}
              <br>
             End :{{endDate}}
            </div>
        <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle class="stroke" cx="60" cy="60" r="50"/>
      </svg> -->
      </div>
    </div>
    <div class="card">
      <h3 class="title">Weight</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
          <div class="med">
              Start : {{startWeight}} Kg
              <br>
              Target : {{targetWeight}} Kg
            </div>
        <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle class="stroke" cx="60" cy="60" r="50"/>
      </svg> -->
      </div>
    </div>

    <div class="card">
      <h3 class="title">Physical</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      
      <div class="circle">
          <div class="med">
              BMI:{{BMI}}
              <br>
              BMR: {{BMR}}
            </div>
        <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle class="stroke" cx="60" cy="60" r="50"/>
      </svg> -->
      </div>
    </div>
  </div>