<style>
img {
    height: 100px;
    width: 100px;
}
</style>
<app-customer-profile></app-customer-profile>

<div class="container">

<div class="row">

<div class="col-8">

<table class="table">
    <thead>
            <tr>
                   
                    <th scope="col">Food</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
            </tr>
    </thead>
        <tr *ngFor="let foods of foodOrderList">
    
    <td> <img [src]="foods.customFoodImageLink"></td>
    <td> {{foods.price}}</td>
    <td>{{foods.quantity}}</td>
    </tr>



</table>  
<button class="btn btn-success"> Checkout </button>


</div>
</div>
<!-- <div class="row">

    <app-recco-mend-food></app-recco-mend-food>


</div> -->
</div>