/* You can add global styles to this file, and also import other style files */

.form-controlz{
  border: transparent;

color: white;

font-size: large;

font-style: unset;

font-weight: normal;
}

label.error{
    color: red;
size: 5px;
font-style: italic;
font-family: monospace;
   }
   html {
     scroll-behavior: smooth;
   }
   .jumbotron {
     background: none;
   }
   .carousel-container{
      width: 700px;
      overflow: hidden;
      margin-left: 100px;
      margin-top: 75px;
      box-shadow: 0 0 10px black;
      float: left;
      
   }

   /* img {
     height: 400px;
     width: 700px;
     
   } */
   .carousel-slide {
     display: flex;
   }
   #prev {
     position: absolute;
     top: 63%;
     z-index: 10;
     left: 8%;
     font-size: 30px;
     color: white;
     opacity: 0.7;
     cursor: pointer;
   }

   #next {
     position: absolute;
     top: 63%;
     z-index: 10;
     right: 52%;
     font-size: 30px;
     color: white;
     opacity: 0.7;
     cursor: pointer;
   }
   .form-control {
     width: 200px;
     align : center;
   }


   body {
    /* https://libbyhealth.com/wp-content/uploads/2017/02/OH71GZ01-1024x541.jpg */
    /* https://d39l2hkdp2esp1.cloudfront.net/img/photo/140991/140991_00_2x.jpg */
    /* https://burst.shopifycdn.com/photos/breakfast-from-above.jpg?width=1200&format=pjpg&exif=0&iptc=0 */
    background-image: url( https://backgrounddownload.com/wp-content/uploads/2018/09/background-for-food-website-3.jpg);
     /* background-image: url("https://burst.shopifycdn.com/photos/breakfast-from-above.jpg?width=1200&format=pjpg&exif=0&iptc=0"); */
     
     /* background-repeat: no-repeat; */
     background-size: 100%;


    }
    .container {
      color: "white";
    }
    .keepBlack{
        color: #169131;

    }
    #jumbo{
      margin-left: 50px;
      margin-top: 50px;
    }
    /* h4 {
      color: white;
    } */
    #scroll {
      margin-left: 50px;
      margin-top: 100px;
      margin-right: 200px;
      margin-bottom:100px;
    } 
    #log-in{
      margin-right: 15%;
      float:right;
    } 
    #reg-field{
      margin-right: 40%;
      float:right;
    }
    #Restaurant { 
      margin-top: 40%;
      text-align: center;
      float: center;
      background-image: url('RestImage.png');
      height: 400px;
      padding-top: 9%;
    } 
    #Contact {
      box-shadow: 0 0 10px black;
      background-color: #292d31;
      color: #fff;
      text-align: center;
      font: normal 13px/15px proxima-nova,sans-serif;
    }
    #subEmail { 
      margin-left: 44%;
      align-self: center;
      align-content: center;

    }

    .fa {
      padding: 20px;
      font-size: 30px;
      width: 50px;
      text-align: center;
     text-decoration: none;
    }
    #search-icon {
      
    }
    #RestaurantName {
      margin-left: 43%;
    }

    .jumbotrons
    {
      width: 200px;
      height: 15px;
      margin-bottom: 2rem;
    border-radius: .3rem;
    font-style: italic;
    width: 200px;
    height: 5px;

    }
    
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
