
 <div class="container" class="sub-header">
    <h3 >Select mode of payment</h3>
  </div> 
  
  <fieldset class="field"> 
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="mat-tree">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf -->
         <button mat-icon-button></button>
        <div  class = "container" class = "tree-node">
        <img src="../assets/images/{{node.name}}.png" (click)="clicker(node.name)" height="30" width="60">
      </div>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild"  matTreeNodePadding>
          
        <button matTreeNodeToggle class="learn-more">  
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? '' : ''}}
          </mat-icon> 
         {{node.name}} 
          <span id="div" class="circle">
            <span class="icon arrow"></span>
          </span>
      </button>
        
      </mat-tree-node>
    </mat-tree>
  </fieldset>
  
  <fieldset class="field1">
    <div *ngIf="show.paytm" class="col-8" class="tree-node">
      <h3>Paytm</h3>
      <img src="../assets/images/Paytm.png" height="100" width="150"><br>
      <form class="form-group" #loginForm1="ngForm" ngNativeValidate (submit)="onSubmit1(loginForm1.value)">
        enter number:<input type="text" maxlength="10" minlength="10" required ngModel class="form-control"><br>
        <button type="submit" class="submit-type">pay</button>
      </form>
    </div>
  
    <div *ngIf="show.phonepe">
        <h3>PhonePe</h3>
        <img src="../assets/images/PhonePe.png" height="100" width="150">
        <form class="form-group" #loginForm2="ngForm" ngNativeValidate (submit)="onSubmit2(loginForm2.value)">
          enter number:<input type="text" maxlength="10" minlength="10" required class="form-control"><br>
          <button (click)="clicked()" class="submit-type">pay</button>
        </form>
      </div>
  
    <div *ngIf="show.paytmUpi">
          <h3>Paytm Upi</h3>
          <img src="../assets/images/paytmupi.jfif" height="100" width="150">
          <form class="form-group" #loginForm3="ngForm" ngNativeValidate (submit)="onSubmit3(loginForm3.value)">
            enter number:<input type="text" maxlength="10" minlength="10" required class="form-control"><br>
            <button (click)="clicked()" class = "submit-type">pay</button>
          </form>
      </div>
  
    <div *ngIf="show.gpay">
            <h3>Google Pay</h3>
            <img src="../assets/images/Google.png" height="100" width="150">
            <form class="form-group" #loginForm4="ngForm" ngNativeValidate (submit)="onSubmit4(loginForm4.value)">
              enter number:<input type="text" maxlength="10" minlength="10" required class="form-control"><br>
              <button (click)="clicked()" class="submit-type">pay</button>
            </form>
        </div>
  
    <div *ngIf="show.card">
            <h3>Card details</h3>
            <img src="../assets/images/card.png" height="100" width="150"><br><br><br>
            <form  #loginForm5="ngForm"  (submit)="onSubmit5(loginForm5.value)" ngNativeValidate>
                Name:<br><input type="text" id="name1" ngModel  maxlength=30 name="name" placeholder="name on card" required>
                
                <br>
                Card Number:<br><input type="number"  id="crdnum1" name="cnumber" ngModel  maxlength=20 placeholder="number on card" required>
                
                <br>
                Valid Through:<br><input type="date" ngModel name="date" id="vt1" required>
                
                <br>
                CVV:<br><input type="number"  max=1000 id="cvv1" name="cvv" placeholder="three digit behind your card" required>
                </form>
                <input type="submit" value="pay" class="submit-type">
      </div> 
    <br><br><br>
  
  <div *ngIf="show.paypal">
  <router-outlet ></router-outlet>
  </div>
  