  
<div class="background row">

    <div class="form-class col-sm-6">
        <h2 style="color: white"><b>GETTING STARTED</b></h2>
        <br>
        <div *ngIf="error">
            <div class="alert alert-danger">
                <strong style="color: black; font-size: 20px;">{{error}}</strong>
            </div>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" placeholder="first name" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="danger invalid-feedback">
                        <div class="danger" *ngIf="f.firstName.errors.required">* First Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" placeholder="last name" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="danger invalid-feedback">
                        <div class="danger" *ngIf="f.lastName.errors.required">* Last Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" placeholder="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="danger invalid-feedback">
                        <div class="danger" *ngIf="f.email.errors.required">* Email is required</div>
                        <div class="danger" *ngIf="f.email.errors.email">* Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <select formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                        
                                </select>
                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input type="number" placeholder="your age" formControlName="age" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.age.errors" class="danger invalid-feedback">
                        <div class="danger" *ngIf="f.age.errors.required">* age is required</div>
                        <div class="danger" *ngIf="f.age.errors.min">* age should be greater than 17</div>
                        <div class="danger" *ngIf="f.age.errors.max">* age should be lesser than 56</div>
                    </div>
                </div>

            </div>

            <div class="col-sm-6">
                </div>
            <br><br>
            <div class="form-group">
                <button class="btn btn-primary">Pay and Register</button>
            </div>
        </form>
    </div>