
         <style>
            .form-controlz{
               
                background: transparent;
            
            color: white;
            
            font-size: large;
            
            font-style: unset;
            
            font-weight: normal;
            }
            .err-msg{
                color: red;
            }
           
            </style>

<app-header></app-header>
<fieldset id="reg-field"> 
        <h2>OTP - Verification </h2>     
       <form [formGroup]="otpForm" (ngSubmit)="validOtp()" class="frm" method="post" >
             
            <div class="form-group">
              <!-- <label for="exampleInputPassword1">Re-enter Password</label> -->
              <input type="text" class="form-control form-controlz" formControlName="otp" id="otpz" placeholder=" Enter OTP" value="">  
           <br> <input type="button"class="form-control form-controlz" (click)="validOtp()" value="Verify"/>  
            </div>
            </form>
        </fieldset>
