
<style>
input[type=checkbox]
{
    text-decoration-color: blueviolet;
}
.form-check 
{
    margin-left: 10px;
}
</style>
<div class="card" style="width: 12rem;">
        <div class="card-header bg-light btn-outline-info">
          Filters 
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> <b>Rating Above </b>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                      4
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                     3
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
                    <label class="form-check-label" for="exampleRadios3">
                      2
                     </label>
                  </div>
                  <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
                        <label class="form-check-label" for="exampleRadios3">
                          1
                         </label>
                 </div>
        </li>
          <li class="list-group-item"> <b> Cuisine </b> 
            <div class="form-check">
                    <input class="form-check-input position-static" type="checkbox" id="Italian" value="option1" aria-label="...">
                    <label for="Italian"> Italian </label>
              </div>
              <div class="form-check">
                    <input class="form-check-input position-static" type="checkbox" id="Mexican" value="option1" aria-label="...">
                    <label for="Mexican"> Mexican </label>
              </div>
              <div class="form-check">
                    <input class="form-check-input position-static" type="checkbox" id="Indian" value="option1" aria-label="...">
                    <label for="Indian"> Indian </label>
              </div>
        </li>
          
        </ul>
 </div>
