<style>
.containerz {
    padding-top: 100px;
    padding-left: 320px;
}
.display-4 {
    
    
    opacity: 20%;
}
.jumbotron {
    opacity: 0.6;
    text-align: center;
    font-weight: 500;
    border-radius: 2%
}
</style>

<app-header></app-header>
        <div class="row">
        <div class="container"> 
              <div class="jumbotron">
                    <h1 class="display-4">Welcome to Smart Food</h1>
                    <hr class="my-4">
                    <h5 class="display-5" >At Smart Food we provide meal of your diet and cuisine preference</h5>
                    <hr class="my-4">
                    <h1 class="display-4"></h1>
                    <hr class="my-4">

              </div>
                    
              
                <div>

                </div> 
                <form>
                    <input type="text" placeholder="Search Restaurant...">
                    <div class="search"></div>
                </form>
                
                
        </div>      


    </div>
      <!-- <div class="row">    <app-anim-slider></app-anim-slider>
      </div> -->
