
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#prefCollapse" aria-expanded="false" aria-controls="collapseExample">
         Set A GOAL
        </button>
       
       
       <fieldset class="field">
          <div class="collapse" id="prefCollapse">
            <div class="card">
              <div class="card-header">
              </div>
            <div class="card-body">
                <form [formGroup]="preferenceModel" (ngSubmit)="setPreferenceDetail()" class="frm" method="post" >
                  <div class="form-group">
                    <mat-form-field>
                    <input type="number" matInput  placeholder="Target Weight"   formControlName="targetW" >
                    </mat-form-field>
                  </div>
    
                  <div class="form-group">
                      <mat-form-field>
                          <input matInput [matDatepicker]="picker" formControlName="targetD" placeholder="By Date:">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                
                  </div>
                  <div class="form-group">
                        
                   <mat-select-autocomplete
                            
                              [options]="options"
                              [multiple]='true'
                              name="optionsSelector"
                               ngDefaultControl
                              [formControl]="preferenceModel.controls['selected']">
                  </mat-select-autocomplete> 
                        </div>

                 <div class="form-group col-md-4">
                    <mat-form-field>
                        <mat-label>Category</mat-label>
                        <select matNativeControl [formControl]="preferenceModel.controls['category']" required>
                          <option value="0">Veg</option>
                          <option value="1">Non Veg</option>
                       </select>
                      </mat-form-field>   
                
                </div>
                
                  <div class="modal-footer">
                  <button type="submit" class="btn btn-primary btn-md"  >Set your Goal <i class="fas fa-running"></i> </button>
                  </div>
              </form>
          
              </div>
              </div>    
        </div>
      </fieldset>


