<style>
img {
    height: 200px;
    width: 300px;
}
.card
{
    height: 500px;
    width: 300px;
}
@media (min-width: 0px) {
    .card-deck .card {
    display: flex;
    /* flex: 1 0 0%; */
    /* flex-direction: column; */
    /* margin-right: 15px; */
    /* margin-bottom: 0; */
    margin-left: 15px;
    opacity: 0.9;
}

}
div 
{
    float: left;
    
}

</style>

<app-header></app-header>

    <div class="row">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar"> 
            <app-sort-criteria></app-sort-criteria>
         </div> 
         <div col="1">

         </div>
         <div class="col-10">
               <div class="container">
                <div class="card-deck"  > 
                        <div class="card border-primary " *ngFor="let restaurant of restaurantList; even as e;index as i">
                                <img [src]="restaurant.imageUrl" alt="Random first slide">
                                 <div class="card-body text-right">
                                 <h5 class="card-title"> {{restaurant.name}} </h5>
                                 <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> Location: {{restaurant.location}} <br> Rating: {{restaurant.rating}} <i class="fa fa-star" aria-hidden="true"></i></p>
                                  <a href="https://letterboxd.com/film/pulp-fiction/" class="btn btn-dark">See Menu</a>
                                </div>
                        </div>   
                       
                </div>
            </div>
         </div>
        

    </div>

<!-- <div >
        <div *ngIf="e; else elseBlock"> Even restaurant</div>
          <ng-template #elseBlock> {{restaurant | json }} </ng-template>
    
</div> -->