<style>
.form-controlz{
    
    background: transparent;

color: white;

font-size: large;

font-style: unset;

font-weight: normal;
}
.err-msg{
    color: red;
}
h2{
  color: white;
}

.fa {
    padding: 5px;
    font-size: 20px;
    width: 0px;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
}
</style>


<app-header></app-header>
<fieldset id="reg-field">
    <h2>Register</h2>

<!-- 
    <form [formGroup]="loginForm" (ngSubmit)="validate()" class="frm" method="post" >
        <div class="form-group">
          <label for="exampleInputEmail1">Email </label>
          <input type="email" class="form-controlz"   formControlName="email" placeholder="Enter Email" value="">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder=" Enter Password" value="">
        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-md"  >Let's Go <i class="fa fa-cutlery" style='font-size:15px;color:#93E0E5'aria-hidden="true"></i></button>
        <button type="button" class="btn btn-info" id="reg-btn" onclick="callReg()" >Register</button> -->
        <!-- </div> -->

    <!-- </form>  -->
   <!-- <div *ngIf="!optSentSuccess"> -->

    <form [formGroup]="regForm" (ngSubmit)="validate()" class="frm" method="post" >
       
        <div class="form-group">
            <!-- <label for="exampleInputEmail1">Name</label> -->
            <input type="text" class=" form-control form-controlz" formControlName="name" placeholder="Enter Name" value="">
          </div>
         
            <div class="form-group">
                <!-- <label for="exampleInputEmail1">Last Name</label> -->
                <input type="number" class="form-control form-controlz" formControlName="phone" id="reg_phone" placeholder="Enter phone no" value="">
              </div>
              <div class="err-msg"
        *ngIf="regForm.get('email').errors &&
              regForm.get('email').dirty ">
          Enter valid email
        </div>
      <div class="form-group">
        <!-- <label for="exampleInputEmail1">email</label> -->
        <input type="text" class="form-control form-controlz" formControlName="email" id="reg_email" placeholder="Enter email" value="">
      </div>
      <div class="err-msg">
     <div 
      *ngIf="regForm.get('password').errors &&
            regForm.get('password').dirty &&
            regForm.get('password').errors.validPass">
            Password must contain Capital<br>Spacial Character,and  number
        </div>
      </div>
      <div class="form-group">
        <!-- <label for="exampleInputPassword1">Password</label> -->
       
        <input type="password" class="form-control form-controlz" formControlName="password" id="reg_password" placeholder=" Enter Password" value="">  
      
      </div>
      <div
      *ngIf="regForm.get('repassword').errors &&
            regForm.get('repassword').dirty &&
            regForm.get('repassword').errors.validRepass">
       </div>
       <div class="err-msg">
         {{errMsg}}
       </div>
      <div class="form-group">
          <!-- <label for="exampleInputPassword1">Re-enter Password</label> -->
          <input type="password" class="form-control form-controlz" formControlName="repassword" id="reg_repassword" placeholder=" Re-enter Password" value="">  
        </div>
  <!-- <div *ngIf="optSentSuccess">

        <div class="form-group">
            <input type="text" class="form-control form-controlz" formControlName="otp" id="otpz" placeholder=" Enter otp" value="">  
          <input type="button"class="form-control form-controlz" (click)="validOtp()" value="varify otp"/>  
          </div>
</div> -->
        <button type="submit"  class="btn btn-outline-light" id="re-sub" > Register  <i class="fa fa-user-plus" aria-hidden="true"></i></button>
    </form>
  <!-- </div> -->
  
</fieldset>